<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="/stylesheets/sticky-footer.css" rel="stylesheet">
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>
	<script type="text/javascript">
	var host = 'http://' + location.host;
	var socket = io.connect(host);

  socket.on("s_to_c_emitChild", function (data) {
    var word = data.value.replace( /[!@$%<>'"&|]/g, '' );//escape
    $("#view").attr("src", fUrl + word + bUrl);
  });


	var fUrl = "";
	var bUrl = "";

	function show(){
		var urlAry = $("#url").val().split("[]");
		fUrl = urlAry[0];
		bUrl = urlAry[1];
		$("#view").attr("src", fUrl);
	}

  function getUrlVars() 
  { 
    var vars = [], hash; 
    var hashes = 
			window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'); 
    for(var i = 0; i < hashes.length; i++) { 
       hash = hashes[i].split('='); 
 	     vars.push(hash[0]); 
 	     vars[hash[0]] = hash[1]; 
    } 
   	return vars; 
  }

	$(function(){
		var urlVars = getUrlVars();
		socket.emit("registerChild", {id:urlVars["id"]});
	});

	</script>
  <body>
    
  

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
      <h2>Usage</h2>
      <ol>
        <li>Set url.</li>
        <li>Send query from your workspace.</li>
      </ol>

	     <form action="#" onsubmit="show();return false;">
 	     	<label for="">URL(Please embrace query part with brackets '[]'. Ex:http://eow.alc.co.jp/search?q=[], http://thesaurus.com/browse/[], http://oald8.oxfordlearnersdictionaries.com/dictionary/[])</label>
 	     	<input id="url" type="text" class="form-control" id="" placeholder="http://eow.alc.co.jp/search?q=[]">
   	   </form>
		  <iframe src="" id="view" style="width:100%;height:250px;"></iframe>
      </div>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Node.js + Express + socket.io</p>
      </div>
    </div>





  </body>
</html>
