<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
		<link href="/stylesheets/sticky-footer.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>

  <script type="text/javascript">
		var host = 'http://' + location.host;
  	var socket = io.connect(host);

	  function getUrlVars() 
	  { 
 	   var vars = [], hash; 
 	   var hashes = 
 	     window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'); 
 	   for(var i = 0; i < hashes.length; i++) { 
 	      hash = hashes[i].split('='); 
 	      vars.push(hash[0]); 
 	      vars[hash[0]] = hash[1]; 
 	   } 
 	   return vars; 
		}
	
		var urlVars = getUrlVars();

		function makeId(length){
		  var n = 26; 
		  var RandomString = ''; 
		  var BaseString ='abcdefghijklmnopqrstuvwxyz';
		    BaseString +='ABCDEFGHIJKLMNOPQRSTUVWXYZ';
   		   n += 26; 
     		 BaseString +='0123456789';
		      n += 10; 
  		  for(var i=0; i<length; i++) {
		       RandomString += BaseString.charAt( Math.floor( Math.random() * n));
		    }   
		    return RandomString;
		}

		var id = makeId(20);

		$(function(){
			if(location.search == ''){
				window.location.href = location.href + "?id=" + id;
			}
		});

		function send() {
			var word = $("#word").val();
			$("#word").val("");
			socket.emit("p_to_s_emitChild", {value:word, id:urlVars["id"]});
		}

		function show(){
			var url = $('#url').val();
			$('#browser').attr('src', url);
		}

   	function createChild() {
			window.open(host + '/child?id='+ urlVars["id"]);
 	  }

  </script>

  <body>
    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
				<h2>Usage</h2>
				<p><a href="/images/introduction.png" target="_blank">->Show introduction image</a></p>
				<ol>
					<li>Create child window.</li>
					<li>Set url in created child windows.</li>
					<li>Input query word and enter.</li>
				</ol>
				</ol>
				<button type="submit" class="btn btn-primary" onclick="createChild();">CREATE CHILD WINDOW</button>(You can launch multiple windows.)

				<form action="#" onsubmit="send();return false;">
					<label for="word">Query word</label>
 			   	<input id="word" type="text" class="form-control" placeholder="word">
				</form>
<br/>

<p>Below contents are now meanningless.</p>

				<form action="#" onsubmit="show();return false;">
					<label for="exampleInputEmail1">URL</label>
 			   	<input id="url" type="text" class="form-control" id="" placeholder="URL">
				</form>

				<iframe src="" class="context-menu" id="browser" style="width:100%;height:120px;">
				</iframe>
	
 	     </div>
 	   </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Node.js + Express + socket.io</p>
      </div>
    </div>


 </body>                                                                                     </html>

