<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="/stylesheets/sticky-footer.css" rel="stylesheet">
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>
	<script type="text/javascript">
	var host = 'http://' + location.host;
	var socket = io.connect(host);

  function create() {
    socket.emit("create",{id:makeId(16)});
  }
	</script>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
        <p class="lead">Sending query from a parent window to child windows. :D</p>
			<h2>Usage</h2>
			<ol>
				<li>Create your workspace.</li>
				<li>Open childs window from your workspace.</li>
				<li>Set url in created child windows.</li>
				<li>Send query from your workspace.</li>
			</ol>
			<br/>
			<a href="./create" class="btn btn-primary" onclick="create()">CREATE YOUR WORKSPACE</a>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Node.js + Express + socket.io</p>
      </div>
    </div>
  </body>
</html>
